#ggf-tab ul.nav.nav-tabs li.m1 {
    margin-right: 0;
    margin-bottom: 0;
}
#ggf-tab ul.nav.nav-tabs li.m1 a {
    background: #ffe400;
    padding: 12px 57px !important;
    border-radius: 0;
    line-height: normal;
    font-size: 20px !important;
}
section#ggf1 .row:nth-child(even) {
    background: #eee;
}

section#ggf1 .row {
    padding: 30px 20px;
    background: #f9f9f9;
    margin: 0;
}

#ggf1 p span {
    color: #000;
    font-weight: bolder;
    border-bottom: 3px solid #ffe400;
    padding-bottom: 3px;
}
.bg-2 .mov1 ol {
    column-count: 2;
}
.bg-2.clearfix .mov1 {
    width: 90%;
    margin: 0 auto;
}